
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

div {
  display: flex;
align-items: center;
justify-content: center;
}

h1 {
  color: rgb(133, 135, 221);
}

.divprincipal {
 
 display: flex;
 
  background: linear-gradient(to bottom, rgba(135, 206, 250, 1), rgba(255, 255, 255, .6)); /* Degradado de azul cielo a blanco */ /* Color de fondo */
  color: white;              /* Color del texto */
  /* padding: 20px;            Espaciado interno */
  border-radius: 5px;       /* Bordes redondeados */
  text-align: center;        /* Alinear texto al centro */
  align-items: center;
  height: 100vh;                /* Establece la altura del contenedor (opcional) */

}

.divregister {
 
  display: flex;
  
   background: rgb(27, 76, 182);
   color: white;              /* Color del texto */
   /* padding: 20px;            Espaciado interno */
   border-radius: 5px;       /* Bordes redondeados */
   text-align: center;        /* Alinear texto al centro */
   align-items: center;
   width: 300px;
   height: 600px;
   margin-right:-20px;
   /* height: 100vh;                Establece la altura del contenedor (opcional) */
 
 }

form {
  /* display: flex;
 flex-direction: column;
 color: black;  */

 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 100px;
 border: 1px  #ccc;
 border-radius: 15px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 background: rgb(255, 255, 255); /* Fondo blanco con 80% de opacidad */
 font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */

}

input, select { 
  border: none; /* Elimina todos los bordes */
  border-bottom: 2px solid #070707; /* Agrega solo un borde inferior */
  outline: none; /* Elimina el contorno al hacer clic */
  padding: 10px; /* Espaciado interno */
  width: 100%; /* Ajusta el ancho del input */
  box-shadow: none; /* Elimina cualquier sombra */
  margin: 5px;
  background: rgba(255, 255, 255,0); /* Fondo blanco con 80% de opacidad */
  color: #070707;
  font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
}

/* Opcional: Cambiar el color del borde inferior al enfocar */
input:focus {
  border-bottom: 2px solid rgb(90, 90, 243); /* Cambia el color del borde inferior al enfocar */
}


select { 
  border: none; /* Elimina todos los bordes */
  border-bottom: 2px solid #070707; /* Agrega solo un borde inferior */
  outline: none; /* Elimina el contorno al hacer clic */
  padding: 10px; /* Espaciado interno */
  width: 100%; /* Ajusta el ancho del input */
  box-shadow: none; /* Elimina cualquier sombra */
  margin-top: 30px;
  background: rgba(255, 255, 255,0); /* Fondo blanco con 80% de opacidad */
  color: #070707;
  font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
}

.boton {
  background-color: rgb(228, 115, 50); /* Color de fondo azul */
  color: rgb(240, 237, 237);           /* Color del texto blanco */
  padding: 10px 20px;    /* Espaciado interno */
  /* border: none;          Sin borde */
  border-radius: 5px;    /* Bordes redondeados */
  cursor: pointer;        /* Cambia el cursor al pasar el rat칩n */
  font-size: 20px;       /* Tama침o de fuente */
  margin-top: 20px;
  transition: background-color 0.3s; /* Transici칩n suave al cambiar el color */
}

.boton:hover {
  background-color: rgb(228, 115, 50, .8); /* Color de fondo al pasar el rat칩n */
}